.home{
    padding: 0 1rem;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.logoContainer img{
    width: 60%;
}

.homeCenterContainer{
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
.homeCenterContainer h1{
    color: var(--mainFontColor);
}
@media (min-width:1025px){
    .logoContainer img{
        width: 40%;
    }
    
    .searchBarLeft{
        display: flex;
        align-items: center;
        justify-content: left;
        flex: .8;
    }
    .searchBarCenter{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: .05;

    }
    .searchBarRight{
        display: flex;
        align-items: center;
        justify-content: right;
        flex: .05;

    }
    .searchBar input{
        flex: 1;
    }

}










