.searchBarContainer{
    width: 100vw;
    padding: 1rem 2rem;
}
header{
    padding: .5rem 1rem;
    display: grid;
    gap: .3rem;
    background-color: white;
    /* position: sticky;
    top: 0;
    left: 0; */
    border-bottom: 1px solid var(--primary);

}

.topHeader{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.left{
    flex: 0;
}
.right{
    flex: .3;

}
.searchBar{
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem .7rem;
    font-size: 1.8rem;
    border-radius: 1rem;

}
.topHeader .left img{
    width: 3rem;
}
.searchBarLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: .4;
}
.searchBar input{
    background-color: transparent;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    outline: none;
}
.searchBarCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: .3;

}
.searchBarRight{
    display: flex;
    align-items: center;
    justify-content: right;
    flex: .3;

}



button .searchButton{
    transition: 100ms;
}button .searchButton:hover{
    transform: scale(1.2);
    color: var(--secondary);

}
.searchBar button{
    background-color: transparent;
    border: none;
    color: currentColor;
    flex: .3;
}
.buttonContainer{
    display: flex;
    gap: .4rem;
}
.buttonContainer a{
    transition: 100ms;
    border: 1px solid var(--primary);
    font-weight: 500;
    font-weight: 700;
    padding: .5rem .8rem;
    border-radius: 1rem;
    color: var(--secondaryFontColor);
    text-decoration: none;
}
.buttonContainer a:hover{
    transform: scale(1.2);
}

