.searchResults{
    padding: 2rem 1.4rem;
}

.cite{
    list-style: none;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

}
.cite small{
    font-size: .5rem;
    max-width: 100%;
    overflow-y: scroll;
}
.citeContainerTop{
    display: flex;
    align-items: center;
}
.PageName{
    padding-left: .5rem;
    font-size: .7rem;
    font-weight: 500;
}

.cite a{
    color: #333;
    text-decoration: none;
    font-weight: 700;
}
.cite a:hover .pageUrl{
    color: blue;
}
.cite img{
    width: 2rem;
}
.cite .pageTittle{
    font-size: .8rem;
}
.cite .pageContentInsight{
    margin-top: .3rem;
    font-size: .6rem;
    font-weight: 300;
    color: var(--secondaryFontColor);
}

@media (min-width:1025px){
    .searchResults{
        padding: 2rem 11rem;
    }
    .searchResults ul{
        width: 28rem;
    }
    .cite .pageTittle{
        font-size: 1.1rem;
    }
    .cite .pageContentInsight{
        margin-top: .3rem;
        font-size: .8rem;
        font-weight: 300;
        color: var(--secondaryFontColor);
    }
    .PageName{
        padding-left: .5rem;
        font-size: .9rem;
        font-weight: 500;
    }
    .cite img {
        width: 3rem;
    }
}